.csbwfs-social-widget {
    top: 477px !important;
}
.csbwfs-social-widget a img { opacity: 0;}
#csbwfs-social-inner a img { opacity: 1;}
.csbwfs-hide a img { opacity: 1; margin-top: -7px;}
.csbwfs-social-widget a#csbwfs-show:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 40px;
    height: 161px;
    display: block;
}
/*p.caps_text {
    text-transform: uppercase;
}*/
.mr_50 {
    /*margin-bottom: 30px;*/
    margin-bottom: 60px;
}
.as_section_tl h2 {
    background-image: none !important;
    text-align: left;
    display: block;
    padding-bottom: 3px;
    margin-bottom: 20px !important;
    text-transform: uppercase;
}
.contact-form-content .as_section_tl h2 { display: inline-block !important;}
.as_section_tl h2 span {
    background: none !important;
    padding: 0 !important;
}
.about_cont h6 {
    color: #2f2f2f;
    /*border-bottom: solid 2px #2f2f2f;*/
    padding-bottom: 5px;
    margin-bottom: 0px;
    /*text-transform: uppercase;*/
    display: inline-block;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}
/*.about_cont p { text-transform: uppercase;}*/
.abtn_icon {
    height: 100px;
    width: 100px;
    display: inline-block;
}
.about_box_tl h6 {
    font-size: 16px;
    color: #20242d;
    text-transform: uppercase;
    font-weight: normal;
}
.about_box_tl p {
    font-size: 12px;
    color: #20242d;
    font-weight: normal;
}

.as_flats {
    /*padding: 70px 0 0 0px !important;*/
    padding: 66px 0 20px 0px !important;
    margin-top: -45px;
}
.about_cont h3 {
    color: #2f2f2f;
    /*border-bottom: solid 2px #2f2f2f;*/
    padding-bottom: 5px;
    margin-bottom: 10px;
    /*text-transform: uppercase;*/
    display: inline-block;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}
.price_right {
    position: absolute;
    padding: 5px 10px;
    color: #fff;
    font-size: 15px;
    top: -5px;
    right: 15px;
    font-size: 18px;
}
p.cate_cont {
    /*text-transform: uppercase;*/
    font-size: 14px;
   /* margin: 20px 0;*/
}
.bedroom_par { margin-top: 20px;}
p.icon_cont {
    font-size: 11px;
    color: #000000;
    margin: 10px 0;
    text-transform: uppercase;
}
.config-content .fade { opacity: 0.4;}
.as-pull-right {
    float: right !important;
}

.as_amenities {
    padding: 66px 0 0 0px !important;
    margin-top: -65px;
}
.as_amenities .amenities-options .single-amenity {
    margin: 0px 0px 15px 0;
}

/*tab menu*/
.as_row-wise-amenities .properties-filter {
    float: left;
}
.as_row-wise-amenities .properties-filter li {
    display: block;
    line-height: 5px;
}

.as_row-wise-amenities .properties-filter li .separator { display: none;}
/*end tab menu*/
/*map css*/
.as_map { border-bottom: none !important;}
.inn_map_cont #map-content { width: 100% !important;}
.inn_map_cont #controls { width: auto !important;}
.inn_map_cont #map_canvas { width: 100% !important;}
.map_bot_border span{
    height: 3px;
    display: block;
    width: 100%;
}
.inn_map_cont .map-tabs-links {
    position: absolute;
    top: 0px;
    right: 200px;
    z-index: 99999;
}
.inn_map_cont .map-tabs-links li a {
    font-size: 14px;
    padding: 7px 11px;
    text-decoration: none;
}
/*end map css*/
.d_group {
    background-color: #efefef;
    padding: 30px 0;
}
.contact_inn {
    color: #fff;
    padding: 25px 0;
    background-color: #efefef !important;
}
.contact_inn h4 { color: #333;}
.contact_inn h4 img {
    max-height: 50px;
}
#AnythingPopup_BoxContainerBody4 .contact_inn h4 img { max-height: 110px;}
#AnythingPopup_BoxContainerBody4 .contact_inn {
    padding: 5px 0;
    background-color: #fff !important;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.right_cont .wpcf7 form p {
    width: 48%;
    float: left;
    margin-left: 2%;
    margin-bottom: 40px;
}
.right_cont .wpcf7 form p:first-child { margin-left: 0;}
.right_cont .wpcf7 form p input {
    padding: 7px 8px;
}
.right_cont .wpcf7 form p input:hover { color: #252525 !important;}
.right_cont .wpcf7 form p input[type="submit"]:hover { color: #fff !important;}
.as_row-wise-amenities span.dev-floors, .as_row-wise-amenities span.dev-fittings, .as_row-wise-amenities span.dev-walls {
    height: 43px;
    width: 43px;
    background-size: 50px;
}
.as_row-wise-amenities .properties-filter .selected a .header-text, .as_row-wise-amenities .properties-filter a .header-text {
    font-weight: normal;
    font-size: 13px !important;
    margin: 5px 0;
}
.as_row-wise-amenities .properties-filter li {
    background-color: #f3ebeb;
    margin: 0 10px!important;
    opacity: 1 !important;
}
.as_row-wise-amenities .properties-filter li.selected {
    background-color: transparent;
}
.as_texts {
    font-weight: normal !important;
    font-size: 18px !important;
}
.inn_properties-items .building-card {
    background-color: #f9f3f3 !important;
    border: none !important;
}
h2.pro_tl {
    font-size: 24px;
    margin: 20px 0;
}
.address_tag {
    margin: 20px 0;
}
.address_tag a {
    color: #2f2f2f;
    text-decoration: none;
    font-size: 20px;
}
.top_tena_price {
    margin: 20px 0;
    text-align: right;
}
.top_tena_price .field-value {
    padding: 5px 15px;
    color: #fff;
    font-size: 15px;
}
.as_inn_slider .tp-leftarrow {
    left: 42px !important;
}
.as_inn_slider .tp-rightarrow {
    right: 42px !important;
}
/*.layout-boxed .as_inn_slider .tp-rightarrow { right: 220px !important;}*/
@media screen and (min-width: 1200px) and (max-width: 1920px) {
    .layout-boxed .as_inn_slider .tp-rightarrow { left: 1090px !important;}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .layout-boxed .as_inn_slider .tp-rightarrow { left: 880px !important;}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .layout-boxed .as_inn_slider .tp-rightarrow { left: 670px !important;}
}

.layout-boxed .as_inn_slider .tp-leftarrow { left: 50px !important;}
.top-dev-menu {
    margin: 0;
    background-color: #918171;
    /*background-color: #20242d;*/
    z-index: 999999;
    height: 65px;
}
.top-dev-menu ul {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 991px){
    .top-dev-menu ul { width: 935px;}
}
.top-dev-menu ul li {
    display: inline-block;
    list-style: none;
    margin-left: 4%;
}
.top-dev-menu ul li:first-child { margin-left: 0%;}
.top-dev-menu ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}
.top-dev-menu ul li a:hover, .top-dev-menu ul li a:focus, .top-dev-menu ul li a.active {
    /*background-color: #2b2f38;*/
    background-color: #746453;
}
span.nave_sp {
    height: 32px;
    width: 38px;
    display: block;
    background-size: 30px;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 3px auto 0px;
}
.developer-menu a {
    padding: 3px 10px;
}
span.detailnave_i {
    background-image: url(../img/details_i.png);
    background-image: none,url(../img/details_i.png);
}
span.catenave_i {
    background-image: url(../img/categories_i.png);
    background-image: none,url(../img/categories_i.png);
}
span.amennave_i {
    background-image: url(../img/amenities_i.png);
    background-image: none,url(../img/amenities_i.png);
}
span.locationnave_i {
    background-image: url(../img/location_i.png);
    background-image: none,url(../img/location_i.png);
}
span.rotnave_i {
    background-image: url(../img/360_i.png);
    background-image: none,url(../img/360_i.png);
}
span.gallnave_i {
    background-image: url(../img/gallery_i.png);
    background-image: none,url(../img/gallery_i.png);
}
span.marketnave_i {
    background-image: url(../img/market_i.png);
    background-image: none,url(../img/market_i.png);
}
/**/
.interested_cl {
    position: fixed;
    left: -56px;
    top: 375px;
    z-index: 9999;
}
.in_int_btn {
    padding: 5px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.in_int_btn i {
  /*  display: block;*/
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: #fff;
    padding: 7px;
    font-size: 16px;
}
.text_of_ints {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.text_of_ints a {
    color: #fff;
    font-size: 13px;
    display: inline-block;
    width: inherit;
    padding: 0px 6px;
}
.text_of_ints span { padding: 0 5px;}
/**/
.left_shar {
    position: fixed;
    left: -62px;
    top: 525px;
    z-index: 9999;
}
.inn_share_btn {
    padding: 5px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.share_txt {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.share_txt i {
    /*  display: block;*/
    /*-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
    background-color: #fff;
    padding: 7px;
    font-size: 16px;
}
.share_txt span { padding: 0 5px;}
.al_baruj_slider ul li a{
    border: 2px solid transparent;
    background-color: #fff;
    text-decoration: none;
}
.al_baruj_slider ul li.selected a {
    border: 2px solid transparent;
    color: #fff;
}
.inn_map_cont .select-wrapper select {
    color: #fff;
}
.inn_map_cont .select-wrapper:after {
    color: #fff !important;
}
.properties-filter { text-align: left;}

.config-content_img img { max-width: 80px; max-height: 80px;}
.as_row-wise-amenities {
   /* margin: 90px 0 0 0;*/
    margin: 48px 0 0 0;
}
@media screen and (max-width:991px){
    .config-content_img { margin-top: 20px;}
    .amenities-options { padding: 0;}
    .single-amenity { width: 19% !important;}
    .properties-filter { text-align: center;}
    .inn_map_cont .map-tabs-links {
        position: relative;
        top: inherit;
        right: inherit;
        z-index: 99999;
    }
    .contact_inn { margin-bottom: 20px;}
}
@media screen and (max-width:767px){
    h2.pro_tl, .top_tena_price { text-align: center;}
   /* .price_right { right: 35px;}*/
    .single-amenity { width: 32% !important;}
    .as_row-wise-amenities .properties-filter {
        float: none;
        width: 100%;
        margin-bottom: 0;
        text-align: center;
    }
    .as_row-wise-amenities .properties-filter li {
        display: inline-block !important;
    }
    .properties-items .items-list.row {
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width:600px){
    .single-amenity {
        width: 49% !important;
        margin: 0px 0px 30px 0 !important;
    }
}

.amenities-options{
    margin-left: -67px;
    margin-top: 6px;
}
.block-content-inner #map{
    padding: 66px 0 0 0px;
}
.al_baruj_slider{
    margin-top: -56px;
}

#line_chart{
    padding: 66px 0 0 0px !important;
    margin-top: -45px;
}
#about-developer{
    margin-top: -38px;
}
#contact-developer{
    margin-top: -60px;
}
.left-filter{
    margin-left: -14px;
}
.isotope-three-sixty{
    margin-bottom: 45px;
}
.gallery-top{
    margin: 0px 0px 25px -6px;
}
.group-bot{
    margin-bottom: 28px;
}
.room-bto,.room-bto1,.room-bto2{
    margin-top: 10px !important;
}
#map .select-wrapper{
    margin-right: -15px;
    margin-top: -8px;

}
.v1-filter .properties-filter li{
    margin: 5px 4px;
}

/* start al-burooj responsive css */
@media screen and (max-width: 1200px) {
    .map-filter{
        margin-right: -28px !important;
    }
}
/*.map-filter{
    margin-right: 8px;
}*/

@media screen and (max-width: 991px) {
    .gallery-top{
        text-align: left !important;
    }
    .v1-filter .select-wrapper{
        margin-right: 0px !important;
    }
    .al-burooj-border span{
        margin-top: 39px;
    }
}


/* End al-burooj responsive css */