.csbwfs-social-widget {
    left: auto !important;
    right: -12px !important;
    top: 477px !important;
}
.temp3map #map-property {
    height: 420px;
}
.mr_50 { margin-bottom: 30px;}
.as_section_tl h2 {
    background-image: none !important;
    text-align: center;
    display: inline-block;
    padding-bottom: 3px;
    margin-bottom: 20px !important;
    text-transform: uppercase;
    border-bottom: none;
}
.as_section_tl h2 span {
    background: none !important;
    padding: 0 !important;
}
.temp_2about_cont { margin-top: 62px;}
.temp_2about_cont p strong {
    color: #2f2f2f;
    padding-bottom: 5px;
    margin-bottom: 0px;
    /*border-bottom: solid 2px #2f2f2f;*/
    /*text-transform: uppercase;*/
    display: inline-block;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}
.about_cont h6 {
    color: #2f2f2f;
    border-bottom: solid 2px #2f2f2f;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
}
.abtn_icon {
    height: 100px;
    width: 100px;
    display: inline-block;
}
.about_box_tl h6 {
    font-size: 13px;
    color: #20242d;
    text-transform: uppercase;
    font-weight: normal;
}
.about_box_tl p {
    font-size: 12px;
    color: #20242d;
    font-weight: normal;
}

.as_flats { padding: 65px 0 0 0px !important;}
.about_cont h3 {
    color: #2f2f2f;
    /*border-bottom: solid 2px #2f2f2f;*/
    padding-bottom: 5px;
    margin-bottom: 10px;
    /*text-transform: uppercase;*/
    display: inline-block;
    text-align: left;
    font-size: 18px;
    margin-top: 0;
    font-weight: bold;
}
.price_right {
    position: absolute;
    padding: 5px 10px;
    color: #fff;
    font-size: 15px;
    top: -6px;
    right: 0;
    background-color: #20242d !important;
    font-size: 18px !important;
}
ul.room_details {
   margin: 0;
    padding: 0;
}
.room_details li {
    background-color: #606062;
    color: #fff;
    padding: 5px;
    list-style: none;
    display: inline-block;
    margin-left: 1%;
    float: left;
    width: 32.66%;
    margin-bottom: 1%;
    font-size: 14px;
}
.room_details li:first-child { margin-left: 0;}
.room_details li:nth-child(3n+1) {
    margin-left: 0;
}
p.cate_cont {
    font-size: 12px;
    margin: 20px 0;
}
.bedroom_par { margin-top: 20px;}
p.icon_cont {
    font-size: 11px;
    color: #000000;
    margin: 10px 0;
    text-transform: uppercase;
}
.config-content .fade { opacity: 0.4;}
.as-pull-right {
    float: right !important;
}

.as_amenities {
    padding: 52px 0 0 0 !important;
}
.as_amenities .amenities-options .single-amenity {
    margin: 0px 0px 15px 0;
}
.as_amenities .amenities-options img {
    display: inline-block;
}
ul.temp3amenities-options {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}
.temp3amenities-options li {
    background-color: #f3ebeb;
    color: #616161;
    padding: 5px;
    list-style: none;
    display: inline-block;
    margin-left: 1%;
    float: left;
    width: 15.83%;
    margin-bottom: 1%;
    font-size: 14px;
}
.temp3amenities-options .fade { opacity: 0.4;}
.temp3amenities-options li:first-child {
    margin-left: 0;
}
.temp3amenities-options li:nth-child(6n+1) {
    margin-left: 0;
}
/*tab menu*/
.as_row-wise-amenities .properties-filter {
    float: left;
}
.as_row-wise-amenities .properties-filter li {
    display: block;
    line-height: 5px;
}

.as_row-wise-amenities .properties-filter li .separator { display: none;}
/*end tab menu*/
/*map css*/
.as_map { border-bottom: none !important;}
.inn_map_cont #map-content { width: 100% !important;}
.inn_map_cont #controls { width: auto !important;}
.inn_map_cont #map_canvas { width: 100% !important;}
.map_bot_border span{
    height: 3px;
    display: block;
    width: 100%;
}
.inn_map_cont .map-tabs-links {
    position: absolute;
    top: 4px;
    right: 145px;
    z-index: 99;
}
.inn_map_cont .map-tabs-links li { margin: 0 5px 0 3px;}
.inn_map_cont .map-tabs-links li a {
    font-size: 14px;
    padding: 7px 11px;
    text-decoration: none;
}
/*end map css*/
.d_group {
    background-color: #efefef;
    padding: 30px 0;
}
.contact_inn {
    color: #fff;
    padding: 25px 0;
    background-color: #efefef !important;
}
.contact_inn h4 { color: #333;}
.contact_inn h4 img {
    max-height: 50px;
}
#AnythingPopup_BoxContainerBody4 .contact_inn h4 img { max-height: 110px;}
#AnythingPopup_BoxContainerBody4 .contact_inn {
    padding: 5px 0;
    background-color: #fff !important;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.right_cont .wpcf7 form p {
    width: 48%;
    float: left;
    margin-left: 2%;
    margin-bottom: 40px;
}
.right_cont .wpcf7 form p:first-child { margin-left: 0;}
.right_cont .wpcf7 form p input {
    padding: 7px 8px;
}
.right_cont .wpcf7 form p input:hover { color: #252525 !important;}
.as_row-wise-amenities span.dev-floors, .as_row-wise-amenities span.dev-fittings, .as_row-wise-amenities span.dev-walls {
    height: 50px;
    width: 50px;
    background-size: 50px;
}
.as_row-wise-amenities .properties-filter .selected a .header-text, .as_row-wise-amenities .properties-filter a .header-text {
    font-weight: normal;
    font-size: 13px !important;
    margin: 5px 0;
}
.as_row-wise-amenities .properties-filter li {
    background-color: #f3ebeb;
    margin: 0 10px!important;
    opacity: 1 !important;
}
.as_row-wise-amenities .properties-filter li.selected {
    background-color: transparent;
}
.as_texts {
    font-weight: normal !important;
    font-size: 18px !important;
}
.inn_properties-items .property-item {
    padding-bottom: 0 !important;
}
.inn_properties-items .building-card {
    /*background-color: #f9f3f3 !important;*/
    border: none !important;
}
.inn_properties-items .pills .header {
    margin-top: 0 !important;
}
.as_pills {
    background-color: #ecedef;
    padding: 10px 30px;
    margin-bottom: 10px;
}
.inn_properties-items {
    margin-top: 5px;
    margin-bottom: 5px;
   /* border: solid 1px #bf224e !important;*/
}
.temp_2_gallery {
    padding: 64px 0 0 0px !important;
}
h2.pro_tl {
    font-size: 20px;
    margin: 20px 0;
    /*color: #bf224e !important;*/
}
.address_tag {
    margin: 25px 0;
}
.address_tag a {
    color: #20242d;
    text-decoration: none;
    font-size: 18px;
}
.top_tena_price {
    margin: 20px 0;
    text-align: right;
}
.top_tena_price .field-value {
    padding: 5px 15px;
    color: #fff;
    font-size: 15px;
    background-color: #20242d !important;
}
.as_inn_slider .tp-leftarrow {
    left: 42px !important;
}
.as_inn_slider .tp-rightarrow {
    right: 42px !important;
}
.layout-boxed .as_inn_slider .tp-rightarrow { right: 220px !important;}
.layout-boxed .as_inn_slider .tp-leftarrow { left: 50px !important;}
.temp_2_developer-details#details {
    padding: 0px 0 0 0;
    margin-top: -20px;
}
.newcol-md-1 {
   width: 10.33333%;
}
.newcol-md-11 {
    width: 89.33333%;
}
.top-dev-menu {
    margin: 0;
    z-index: 999;
    /* position: relative !important; */
    width: 80px;
    position: absolute;
    left: -90px;
    top: -45px;
}
.developer-menu.fixed {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #20242d;
    padding: 0 0 0 0px;
}
.developer-menu.fixed ul li{
    display: block;
}
/*.developer-menu.fixed ul li a {
    padding: 13px 0px;
}*/
.top-dev-menu ul {
    margin: 0;
    padding: 0;
}
.top-dev-menu ul li {
    display: block;
    list-style: none;
}
.top-dev-menu ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    width: auto;
    background-color: #918171;
    display: block;
    margin-bottom: 0px;
}
.top-dev-menu ul li a:hover, .top-dev-menu ul li a:focus, .top-dev-menu ul li a.active {
    background-color: #746453;
}
.tamp_title {
    padding: 0 10px;
}
span.nave_sp {
    height: 32px;
    width: 38px;
    display: block;
    background-size: 30px;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 2px auto 0px;
}
.top-dev-menu ul li a {
    padding: 5px;
}
span.detailnave_i {
    background-image: url(../img/details_i.png);
    background-image: none,url(../img/details_i.png);
}
span.catenave_i {
    background-image: url(../img/categories_i.png);
    background-image: none,url(../img/categories_i.png);
}
span.amennave_i {
    background-image: url(../img/amenities_i.png);
    background-image: none,url(../img/amenities_i.png);
}
span.locationnave_i {
    background-image: url(../img/location_i.png);
    background-image: none,url(../img/location_i.png);
}
span.rotnave_i {
    background-image: url(../img/360_i.png);
    background-image: none,url(../img/360_i.png);
}
span.gallnave_i {
    background-image: url(../img/gallery_i.png);
    background-image: none,url(../img/gallery_i.png);
}
span.marketnave_i {
    background-image: url(../img/market_i.png);
    background-image: none,url(../img/market_i.png);
}
/**/
.interested_cl {
    position: fixed;
    right: -56px;
    top: 375px;
    z-index: 999999;
}
.in_int_btn {
    padding: 5px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.in_int_btn i {
    /*  display: block;*/
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background-color: #fff;
    padding: 7px;
    font-size: 16px;
}
.text_of_ints {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.text_of_ints a {
    color: #fff;
    font-size: 13px;
    display: inline-block;
    width: inherit;
    padding: 0px 6px;
}
.text_of_ints span { padding: 0 5px;}
/**/
.left_shar {
    position: fixed;
    right: -62px;
    top: 525px;
    z-index: 999999;
}
.scroll-top-img { bottom: -2px !important;}
.inn_share_btn {
    padding: 5px;
    cursor: pointer;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.share_txt {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.share_txt i {
    /*  display: block;*/
    /*-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);*/
    background-color: #fff;
    padding: 7px;
    font-size: 16px;
}
.share_txt span { padding: 0 5px;}
.al_baruj_slider ul li a{
    border: 2px solid transparent;
    background-color: #fff;
    text-decoration: none;
}
.al_baruj_slider ul li.selected a {
    border: 2px solid transparent;
    color: #fff;
}
/*theme option*/
.palette-toggle {
    left: -42px;
    /*position: fixed;
    top: 198px;*/
   /* z-index: 99999;*/
}
.palette-wrapper {
    right: 0px;
    left: auto;
}
.palette-closed {
    margin-right: -180px;
}
.amenities-options li {
    height: auto;
}
/*theme option*/
.temp_2_amenities .properties-filter {
    margin-bottom: 0;
    float: none;
    text-align: left;
    line-height: 5px;
    display: inline-block;
}
.temp_2_amenities .properties-filter li {
    display: inline-block;
    text-align: center;
    margin: 0 !important;
    margin-right: -5px !important;
    padding: 5px 20px;
    background-color: transparent;
    border: solid 1px #b4b4b4;
    /*border-right: none;*/
}

.temp_2_amenities .properties-filter li.selected {
    border: solid 1px #595959;
    /*border-right: none;*/
}
.temp_2_amenities .properties-filter li.selected a {
    color: #fff;
}

.inn_map_cont .select-wrapper select {
    background-color: #fff !important;
}
.inn_map_cont .select-wrapper:after {
    background-color: #fff;
}
.left_interested h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 10px;
    display: block;
    color: #fff;
    margin-bottom: 10px;
}
.cont_deep {
    margin-bottom: 10px;
    display: block;
}
.cont_deep h4 {
    font-size: 14px;
    /*border-bottom: solid 1px #d1d1d1;*/
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    padding-bottom: 3px;
    font-weight: bold;
}
.cont_deep h6 {
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    padding-bottom: 3px;
    color: #767676;
}
.cont_deep p {
    font-size: 13px;
    line-height: 16px;
    color: #777171;
}

.share_pro {
    position: relative;
    display: block;
}
.share_pro img {
    border: solid 2px #000;
    width: 100%;
}
.inn_share_deta {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    text-align: center;
}
.inn_share_deta h3 {
    color: #fff;
    font-size: 18px;
    background-color: transparent;
    padding: 30% 0;
}
.cont_deep_form form p{
    margin-bottom: 10px;
}
.cont_deep_form form input[type="text"], .cont_deep_form form input[type="email"] {
    border: 2px solid #bdbdbd;
    padding: 5px 10px;
}
.cont_deep_form form input[type="submit"] {
    background-color: #20242d;
    border: solid 2px #20242d;
}
.cont_deep_form form input[type="submit"]:hover { color: #fff;}
.cont_deep_form form .wpcf7-response-output { display: none !important;}
.inn_share_deta #csbwfs-delaydiv-newdata { padding: 27% 0;}
.inn_share_deta .csbwfs-sbutton-newdata {
    display: inline-block;
    padding: 0 5px;
    height: 30px;
    width: 45px !important;
}



.affix-top {
    position: relative;
}

.affix {
    top: 20px;
}

.affix,
.affix-bottom {
    width: 213px;
}

.affix-bottom {
    position: absolute;
}

.left_interested.fixed {
    z-index: 9999;
    position: fixed;
    left: auto;
    top: 0;
    width: 21%;
    background: #fff;
    border-bottom: 3px solid #eee;
    right: 8%;
}
@media screen and (max-width: 1920px) and (min-width: 1700px) {.left_interested.fixed { width: 15%;right: 20%;}}

.parent_amenities ul {
    padding: 0;
    text-align: left;
}
.single-amenity {
    width: 16%!important;
}
@media screen and (max-width:991px){
    .left_interested.fixed {
        z-index: 9999;
        position: relative;
        left: auto;
        top: 0;
        width: inherit;
        background: #fff;
        border-bottom: 3px solid #eee;
        right: inherit;
    }
}

@media screen and (max-width: 1199px){
    .developer-menu {
        position: fixed;
        left: 0;
        top: 100%;
        background-color: #20242d;
        padding: 0 0 0 0px;
        z-index: 999;
    }
    .temp3amenities-options li {
        width: 24%;
    }
    .temp3amenities-options li:nth-child(6n+1) {
        margin-left: 1%;
    }
    .temp3amenities-options li:nth-child(4n+1) {
        margin-left: 0;
    }
    .inn_map_cont .map-tabs-links { right: 120px;}
    .single-amenity {
        width: 20%!important;
    }
}
@media screen and (max-width: 991px){
    .config-content_img {
        margin-top: 20px;
    }
    .inn_map_cont .map-tabs-links {
        position: relative;
        top: inherit;
        right: inherit;
    }
    .contact_inn {
        margin-bottom: 20px;
    }
    .right_cont .wpcf7 form p { margin-left: 1%;}
}
@media screen and (max-width: 767px){
    h2.pro_tl, .top_tena_price { text-align: center;}
    .developer-menu.fixed {
        position: fixed;
        left: 0;
        top: 0;
        background-color: #918171;
        padding: 0 0 0 0px;
        width: 100%;
        text-align: center;
        height: 70px;
    }
    .developer-menu.fixed ul li {
        display: inline-block;
        width: 100px;
    }
    .temp3amenities-options li {
        width: 32%;
    }
    .temp3amenities-options li:nth-child(4n+1) {
        margin-left: 1%;
    }
    .temp3amenities-options li:nth-child(3n+1) {
        margin-left: 0;
    }
    .single-amenity {
        width: 25%!important;
    }
}
@media screen and (max-width: 500px){
    .temp3amenities-options li {
        width: 49%;
    }
    .temp3amenities-options li:nth-child(4n+1) {
        margin-left: 1%;
    }
    .temp3amenities-options li:nth-child(3n+1) {
        margin-left: 1%;
    }
    .parent_amenities ul { text-align: center;}
    .single-amenity {
        width: auto !important;
        margin: 0 12px !important;
    }
}
@media screen and (max-width: 450px){
    .room_details li {
        width: 48%;
    }
    .room_details li:nth-child(3n+1) {
        margin-left: 1%;
    }
    .room_details li:nth-child(2n+1) {
        margin-left: 0;
    }
}
@media screen and (max-width: 414px){
    .price_right {
        position: static;
    }

    .temp_2_amenities .properties-filter li {padding: 5px 15px;}
}

.room-bto,.room-bto1,.room-bto2{
    margin-top: 10px !important;
}
.temp_2_amenities{
    margin-top: 58px;
}
.block-content-inner #map {
    padding: 66px 0 0 0px;
}
.gallery-top{
    margin: 0px 0px 25px -6px;
}
#line_chart {
    margin-top: -70px;
}
#about-developer {
    margin-top: -38px;
}
#contact-developer {
    margin-top: -60px;
}
.group-bot {
    margin-bottom: 5px;
}
#map .select-wrapper{
    margin-right: -15px;
    margin-top: -8px;

}

@media screen and (max-width: 991px) {
    .map_bot_border{
        margin-top: 39px;
    }
    .v3-filter .select-wrapper{
        margin-right: 0px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
    .left_interested.fixed {
        right: 5%;
    }
}