/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.as_inn_slider .rslides{
  max-width: inherit !important;
  /*height: 550px !important;*/
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides1_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  z-index: 999999;
  opacity: 0.7;
  /*text-indent: -9999px;*/
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  /*background: transparent url(https://cdn0.iconfinder.com/data/icons/common-2/100/icon-22-512.png) no-repeat left top;*/
  margin-top: 0px;
  font-size: 40px;
  color: #fff;
}
.rslides_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  z-index: 9999;
  opacity: 0.7;
  /*text-indent: -9999px;*/
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 42px;
  /*background: transparent url(https://cdn0.iconfinder.com/data/icons/common-2/100/icon-22-512.png) no-repeat left top;*/
  margin-top: 0px;
  font-size: 40px;
  color: #fff;
  padding: 2px;
}

.rslides_nav.prev {left: 45px;}
.rslides_nav.next {
  left: auto;
  background-position: right top;
  right: 45px;
}
