.chart-legend {
  margin-top: 20px;

  span.legend {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-right: 10px;
    float: left;
  }

  .legend-item {
    display: block;
    line-height: 36px;
    font-size: 14px;
    width: 100%;
  }
}

.chart-area {
  margin-bottom: 50px;
  display: inline-block;
  width: 100%;
}